.readlayout
{
    display: flex;
    flex-direction: column;
}
.readlayout__container
{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.readlayout__footer
{
    margin-top: 30px;
}