.title, .title_name, .title_chapter{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_name{
    font-size: 32px;
    color: var(--color-button);
}
.title_chapter{
    font-size: 20px;
    color: var(--color-hover);
}