.title, .title__name, .title__chapter{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title__name{
    font-size: 32px;
    color: var(--color-button);
}
.title__chapter{
    font-size: 20px;
    color: var(--color-hover);
}