.dropdown
{
    position: relative;
    width: 200px;
    height: var(--height-button);
}
.dropdown-context
{
    position: absolute;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-hover);
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: var(--height-button);
    cursor: pointer;
}

.dropdown-listcontext
{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 10px;
    width: 200px;
    height: 300px;
    overflow-x: auto;
    background-color: white;
    border-radius: 5px;
    // border: 2px solid #9d98c6;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 

}
.top
{
    top:100%;
}
.bottom
{
    bottom: 100%;
    margin-bottom: 10px;
}
.dropdown-listcontext-element
{
    width: 150px;
    border-bottom: 1px solid var(--color-hover);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dropdown-listcontext-element-context
{
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 5px;
}
.active
{
    background-color: var(--color-button);
    color: white;
}
.display-none
{
    display: none;
}