body {
  min-height: 100vh;
  padding-bottom: 50px;
}

.card {
  opacity: 0.9;
}

/* story custom color */
.btn-story {
  background-color: rgb(169, 77, 123);
  border: none;
  color: #fff;
}

.btn-story:hover {
  background-color: rgb(137, 127, 132);
  color: #fff;
  transition: 0.7s;
  outline-color: transparent;
  outline-style: solid;

}


.vertical-rule {
  border-left: '0.5px solid black';
  height: '100vh'
}


@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0, 0, 0);
  }

  40%,
  60% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/* Header overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  justify-content: flex-start;
}



@media only screen and (max-width: 768px) {
  .header-banner h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .header-banner h1 {
    font-size: 16px;
  }
}

.slogan {
  font-family: "Arial", sans-serif;
  font-size: 18px; /* Adjust the font size */
  text-transform: uppercase; /* Convert text to uppercase */
  color: #5cc91d; /* Set the text color */
  letter-spacing: 2px; /* Adjust letter spacing */
}

.component__spinner {
  border: 4px solid rgb(255, 111, 200);
  border-left-color: #97477a;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
