.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid #e9ecef;
    background-color: #f8f9fa;
}
.history_setting
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}