.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #9d98c6;
}