#intro-index {
    margin-bottom: 15px;
    height: 448px;
    overflow: hidden
}

#intro-index .select-type {
    margin-right: 150px;
    padding: 0 10px;
    border-bottom: 1px solid
}

.index-intro .item {
    float: left;
    margin: 12px 0 0 12px;
    height: 225px;
    width: 144px;
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.index-intro div.title {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #f4f4f4;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 0;
    text-shadow: 1px 2px 2px #000;
    font-size: 12px;
    display: block;
    margin-top: 2px;
    text-align: center;
    font-family: 'Roboto Condensed',Tahoma,sans-serif
}

.index-intro .item .item-img {
    box-shadow: 0 1px 2px #B5B5B5;
    width: 144px;
    height: 225px
}

.index-intro .item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}
